:root{

    --clr-primary:#0c2f68;
    --clr-secondary: #f7d025;
    --clr-white:#fff;
    --clr-black:#000;

    --spacer: 1rem;
  
    --ff-primary: "PT Sans", sans-serif;
  
    --fw-700: 700;
    --fw-400: 400;
  
    /* --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15); */
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


*{
    justify-content: center!important;
}

.register{
    box-shadow: var(--box-shadow)!important;
    border-radius: 10px;
    border: 1px solid var(--clr-primary);
    width: auto;
}

.register h3{
    color: var(--clr-primary);
}

.register .rg-as{
    color: var(--clr-secondary)!important;
}

.register_as{
    overflow: hidden;
}

.register_as button{
    cursor: pointer;
    border: 1px solid var(--clr-secondary) !important;
}
.round_link{
    background-color: var(--clr-primary);
    border: none!important;
}

.fa-user{
    color: var(--clr-secondary);
}
.fa-users{
    color: var(--clr-secondary);
}

.fa-trophy{
    color: var(--clr-secondary)!important;
}

h6{
    color: var(--clr-primary)!important;
}