:root {
    --clr-primary:#0c2f68;
    --clr-secondary: #f7d025;
    --clr-white:#fff;
    --clr-black:#000;
    --clr-gray:#b3b3b3;
    --spacer: 1rem;
  
    --ff-primary: "PT Sans", sans-serif;
  
    --fw-700: 700;
    --fw-400: 400;
  
    /* --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15); */
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


*{
    justify-content: center;
    /* text-align: center; */
}

.forogt-password{
    padding: 20px;
    width: auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow)!important;
    border-radius: 10px;
    border: 1px solid var(--clr-primary);
    line-height: 30px;
}

h6{
    color: var(--clr-gray) !important;
}

::placeholder{
}


.forogt-password a{
    color: var(--clr-secondary);
    text-decoration: none;
}

.forogt-password a:hover{
    color: var(--clr-primary);
}

