:root {
  
  --clr-primary:#0c2f68;
  --clr-secondary: #f7d025;
  --clr-white:#fff;
  --clr-black:#000;

  --spacer: 1rem;
  
    --ff-primary: "PT Sans", sans-serif;
  
    --fw-700: 700;
    --fw-400: 400;
  
    --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}
  *{
  
  }
  
  a{
      text-decoration: none;
      color: var(--clr-white);
  }
  li  {
      list-style: none;
  }

  .navbar{
      background-color: var(--clr-primary);
      color: var(--clr-text);
  }
  
  .navbar-nav a.nav-link{
    position: relative;
    padding: 0.8rem 1.2rem;
    color: var(--white);
    transition: font-weight 0.3s ease-in-out;
 }
 
  .navbar-nav a.nav-link.active{
    font-weight: 600;
    transition: font-weight 0.3s ease-in-out;
 }
  
  .navbar-nav a.nav-link:before{
    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    width: 0;height: 2px;
    border-top: 2px solid var(--clr-secondary);
    transition: all 0.4s linear;
 }
 .navbar-nav a.nav-link:hover:before{
   width: 100%;
 }


  .nav-link{
    color: var(--clr-white)!important;
  }

.btn{
      padding: 0.3rem 3rem;
      font-size: var(--fw-700);
      border: 1px solid var(--clr-secondary);
      box-shadow: var(--box-shadow);
      background-color: var(--clr-secondary);
      color: var(--clr-primary)!important;
}
  
.btn:hover{
  background-color: var(--clr-primary);
  color: var(--clr-secondary)!important;
  border: 2px solid var(--clr-white)!important;
}

input{
      max-width: 40rem;
}
  
  .login{
      box-shadow: var(--box-shadow);
      padding: var(--spacer);
      border-radius:var(--spacer) ;
  }
  
  .round_link{
      height: 3rem;
      width: 3rem;
      padding: 1rem;
      display: inline-block;
      border-radius: 100%;
      border: 1px solid black;
  }
  
  .hiddens > *  {
      display: none !important;
      
  }
  
  .split {
    display: flex;
    flex-direction: column;
    /* gap: var(--spacer); */
  }
  
  .split > * + * {
    margin: calc(var(--spacer) * 3) 0 0 0;
  }
  
  @media (min-width: 40em) {
    .split {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .split > * {
      flex-basis: 100%;
    }
  
    .split > * + * {
      margin: 0 0 0 var(--spacer);
    }
  }