:root{
  --clr-primary:#0c2f68;
  --clr-secondary: #f7d025;
  --clr-white:#fff;
  --clr-black:#000;

  --spacer: 1rem;

  --ff-primary: "PT Sans", sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

*{

}

/*----- Pre Loader Start -----*/
#loading{
  width: 100%;
  height: 100vh;
  position: fixed;
  background: var(--clr-white) 
  url('../images/loading.gif') no-repeat center !important;
  z-index: 99999; 
}
