:root {
  --spacer: 1rem;

  --clr-primary:#FD7272;
;
  --clr-secondary: #FEA47F;
 --clr-text:white;
  --ff-primary: "PT Sans", sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

*{

}

/* .hiddens > *  {
    display: none !important;
    
} */

/* .split {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
 */

/* .split > * + * {
  margin: calc(var(--spacer) * 3) 0 0 0;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    justify-content: space-between;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin: 0 0 0 var(--spacer);
  }
} */