* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-circle.btn-md {
    width: 60px;
    height: 60px;
    padding: 6px 0px;
    border-radius: 30px;
    font-size: 8px;
    text-align: center;
}
@media (max-width: 767px) {
    p.txt-cente
    {
       /* background-color: aquamarine; */
       text-align: center;
    }
}